.Map {
    width: 100%;
    height: 50vh;
    border: 3px solid #64b5f6 blue lighten-2;
    padding: 1px;
    box-shadow: 5px 5px 5px #64b5f6 blue lighten-2;
    margin: 20px auto;
    border-radius: 8px;
}
