.RouteEdit {
    width: 100%;
    border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #eee;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  width: 80%;
}

.RouteEdit p {
    text-align: center;
}

.btn {
    margin-left: 10px;
    color: white;
    display: block
}
.btn.cancel {
    margin-right: 0;
}
.btn.submit{
    margin-left: 0;
}

h3 {
    text-align: center;
}

.btn.from{
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 2%;
}

.btn.to{
    margin-left: 4%;
    margin-right: 3%;
}

.form-control {
    width: 20%;
    margin-left: 2%;
}

label {
    margin-top: 2%;
    margin-left: 2%;
}